body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f0f3f7;
}

.app-container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}
